@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
#root {
  margin: 0;
  padding: 0;
  background-color: #e5e7eb;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.animate-slide-in {
  animation: slide-in 1000ms;
}

.h-screen-minus-h-10 {
  height: calc(100vh - 80px);
}
