@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
#root {
  margin: 0;
  padding: 0;
  background-color: #e5e7eb;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 1000ms;
  transition-delay: 500ms;
}

.animate-slide-in2 {
  animation: slide-in 1000ms;
  transition-delay: 1000ms;
}

.animate-slide-in3 {
  animation: slide-in 1000ms;
  transition-delay: 1500ms;
}

.animate-slide-in4 {
  animation: slide-in 1000ms;
  transition-delay: 2000ms;
}

.h-screen-minus-h-4 {
  min-height: calc(100vh - 32px);
}

.h-screen-minus-h-10 {
  min-height: calc(100vh - 80px);
}
